@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@400..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

body{
    /* background: url("http://m.gettywallpapers.com/wp-content/uploads/2023/01/Food-Background-Images-1536x864.jpg") no-repeat; */
    background: url("login.jpg") no-repeat;
    background-position:top;
    background-size: 100vw 100vh;
    overflow: hidden;
}

.box{
    margin: 63px 500px;
    position: relative;
    height: 440px;
    width: 400px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    background: transparent;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: height .2s ease;
    
}

.box.active{
    height: 520px;
}


.box .form-box{
    width: 100%;
    padding: 40px;
}

.box .form-box.Login{
    /* display: none; */
    transform: translateX(0);
    transition: transform .18s ease;
}

.box.active .form-box.Login{
    transition: none;
    transform: translateX(-400px);
}

.box .form-box.Register{
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.box.active .form-box.Register{
    transform: translateX(0);
    transition: transform .18s ease;
}


.form-box h2{
    font-size: 2em;
    color: #3146ff;
    text-align: center;

}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #0400ff;
    margin: 30px 0;;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #0b00da;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;

}

.input-box input{
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #009fb4;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #0011ff;
    line-height: 57px;

}

.remember-forgot{
    font-size: 0.9em;
    color: #5c28f6;
    font-weight: 600;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input{
    accent-color: #2821ff;
    margin-right: 3px;
}

.remember-forgot a{
    text-decoration: none;
    color: #2958f0;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.btn{
    width: 100%;
    height: 45px;
    background-color: #3146ff;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    color: white;
}

.login-register{
    font-size: 0.9em;
    color: #0028ac;
    text-align: center;
    font-weight: 600;
    margin: 25px 0 10px;
}

.login-register p a{
    color: #1a00c3;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover{
    text-decoration: underline;
}

.btn a{
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.1em;

}